body {
    font-family: Roboto, monospace;
}
header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.nav {
    display: flex;   
    justify-content: space-between;
    
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.right-links {
    display: flex;
    margin-right: 50px;
    gap: 20px;
    
}

.hero {
    display: flex;
    flex-direction: column;
}



li {
    list-style-type: none;
    
}



