body {
    font-family: Roboto, monospace;
}
header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.nav {
    display: flex;   
    justify-content: space-between;
    
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.right-links {
    display: flex;
    margin-right: 50px;
    gap: 20px;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*please note that the img bit is not showing up on page and just started
trying to get divs aligned and set up so i could start doing flex*/
.left {

}

.right {

}

li {
    list-style-type: none;
    
}



